@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

/*    .combo_voy {
        display: flex;
        margin: 0;
        margin-top: 0px;
        margin-left: 30px;
        margin-bottom: 0px;
        align-items: center;
    }

    .combo_voy label {
        padding-right: 10px;
    }

    .combo_salgo {
        align-items: center;
        display: flex;
        margin: 0;
        margin-top: 0px;
        margin-left: 65px;
        margin-bottom: 20px;
    }

    .combo_salgo label {
        padding-right: 10px;
    }

    .fechas {
        margin: 0;
        position: relative;
        left: 65px;
        bottom: 0px;
    }

    .fechas #salida, .fechas #regreso {
        width: 15%;
    }

    .fechas #label_regreso {
        margin-left: 10px;
    }*/